# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# If that works, will deploy the frontend to vercel

name: Frontend tests and deploy

on:
  push:
    branches: 
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  tests:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == "pull_request" }}
    name: "Static and automated tests"

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
      - name: Echo to github info
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: echo ${{ github.ref }}
      - run: echo ${{ github.event_name }}

  deploy:
    runs-on: ubuntu-latest
    if: ${{ contains(join(needs.*.result, ','), 'success') }}
    needs: [tests]
    name: "Vercel deploy (trigger vercel)"

    steps:
      - uses: actions/checkout@v2
      - name: Echo to github info
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: echo "Hello world"